/* Layers level */
.z-layer-1 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
        0 1.5px 4px rgba(0, 0, 0, 0.24),
        0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.z-layer-2 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
        0 3px 12px rgba(0, 0, 0, 0.23),
        0 3px 12px rgba(0, 0, 0, 0.16);
}

.z-layer-3 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
        0 6px 12px rgba(0, 0, 0, 0.23),
        0 10px 40px rgba(0, 0, 0, 0.19);
}

.z-layer-4 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.22),
        0 14px 56px rgba(0, 0, 0, 0.25);
}

.z-layer-5 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
        0 15px 24px rgba(0, 0, 0, 0.22),
        0 19px 76px rgba(0, 0, 0, 0.3);
}

.bg-gray {
    background-color: gray;
}

/* global*/

hr {
    height: 5px;
}

.contained {
    padding: 30px;
}

/* Navbar */
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default .navbar-brand {
  color: #687074;
  font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: black;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: #687074;
}

.navbar-default .navbar-nav > li > a:hover {
  color: black;
  background-color: transparent;
}

/* Body */
body {
    padding-top: 10px;
    font-family:"Open Sans",helvetica,arial !important;
}

/* Footer */
footer {
	margin-top: 30px;
}

/* Language selection */
.lang-selection:hover {
    color: gray;
}

.lang-selection {
    color: gray;
}

/* Breadcrum */
.breadcrumbs {
    margin-top: -12px;
	padding-bottom: 10px;
}

.breadcrumbs h1 {
	color: #686868;
	font-size: 30px;
	margin-top: 12px;
}

.breadcrumb { 
    top: 10px;
    position: relative;
	background: none;
}

/* Content */
.content {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Copyright */
.copyright, footer {
    width: 100%;
    padding: 20px 0 10px;
}

.copyright {
	background: #3e4753;
    border-top: 1px solid gray;
}

.copyright p {    
    color: white;
    font-size: 15px;
}


/* Home serveur desc */
.server-desc {
    padding-bottom: 5px;
    color: gray;
}

.server-desc:hover { 
    color: black;
}

.server-desc h4,.server-desc p{
    line-height: 1.5;
    padding-left: 75px;
}

.server-desc h4 {
    font-size: 25px;
}

.server-desc p {
    font-size: 15px;
}

.server-desc .server-desc-icon {
    float: left;
    font-size: 40px;
    padding-top: 15px;
}

/* Register */

.input-group {
    margin-bottom: 15px;
}

.btn-register-validate, .btn-login-validate {
    width: 100%;
}

.alert {
    color: black;
}


/* Loader-spin */
.loader-spin {
    z-index: 10;
    position: fixed;
    top: 5px;
    left: 5px;
}

/* Team */
.staff-img {
    height: 200px;
    background: 
        url("../images/staff/no_avatar.jpg");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
}


/* Ladder */
.ladder-list {
    box-sizing: content-box;
}

.ladder-list li:nth-child(even) {
    background-color: #F2F2F2;
}

.ladder-change-up {
    color: blue;
}

.ladder-change-down {
    color: red;
}

.ladder-change-stable {
    color: gray;
    opacity: 0.5;
}