<h4 class="text-center" data-i18n="download.title"></h4>
<hr />
<blockquote data-i18n="download.step_register"></blockquote>
<div class="well">
    <span data-i18n="[html]download.step_register_text"></span>
    <br />
    <br />
    <a href="@Url.Action("Register", "Join")">
        <span class="fa fa-lg fa-user-plus"></span>
        <span data-i18n="download.step_register_link_text"></span>
    </a>
</div>
<blockquote data-i18n="download.step_download"></blockquote>
<div class="well">
    <span data-i18n="[html]download.step_download_text"></span>
    <br />
    <br />
    <a href="http://staticdata.earthscape.fr/earthscape_origin.rar">
        <span class="fa fa-lg fa-download"></span>
        Earthscape - Origin
    </a>
</div>
