<label class="lbl-login-input" data-i18n="auth.input_account_name">
</label>
<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
    <input type="text" name="Name" id="Name" value="@ViewBag.Name" class="form-control">
</div>
<label class="lbl-login-input" data-i18n="auth.input_account_password">
</label>
<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
    <input type="password" name="Password" id="Password" value="@ViewBag.Password" class="form-control">
</div>
<hr>
<div class="row text-center">
    <button class="btn-login-validate btn btn-info" type="submit" formaction="Login" formmethod="post" name="login">
        <span class="fa fa-check-square"></span>
        <span data-i18n="auth.validate"></span>
    </button>
</div>
