
@{
    ViewBag.Title = "Login";
}

<h4 class="text-center" data-i18n="auth.login_to_play"></h4>
<h6 class="text-center">
    <a href="@Url.Action("Register", "Join")" data-i18n="auth.register_to_play">
    </a>
</h6>
<hr />
@if (ViewBag.LoginErrors.Count > 0)
{
    <div class="alert alert-danger small" role="alert">
        <strong>
            <span data-i18n="login.failed"></span> :
        </strong>
        <ul>
            @foreach (var error in ViewBag.LoginErrors)
            {
                <li data-i18n="auth.@error">
                </li>
            }
        </ul>
    </div>
}
<form class="login-form" method="POST" action="#">
    @Html.AntiForgeryToken()
    @Html.Action("LoginContent", "Join")
</form>