
@{
    ViewBag.Title = "Register";
}

<h4 class="text-center" data-i18n="auth.register_to_play"></h4>
<h6 class="text-center">
    <a href="@Url.Action("Login", "Join")" data-i18n="auth.login_to_play">
    </a>
</h6>
<hr />
@if (ViewBag.RegisterErrors.Count > 0)
{
    <div class="alert alert-danger small" role="alert">
        <strong>
            <span data-i18n="register.failed"></span> : 
        </strong>
        <ul>
            @foreach (var error in ViewBag.RegisterErrors)
            {
                <li data-i18n="auth.@error">                        
                </li>
            }
        </ul>
    </div>
}
<form class="register-form" method="POST" action="#">        
    @Html.AntiForgeryToken()
    @Html.Action("RegisterContent", "Join")
</form>
