
<div class="row">
    <div class="col-lg-12">
        <h3>
            <span class="fa fa-comments-o"></span>
            <span data-i18n="contact.feedback_suggestions_title"></span>
        </h3>
        <hr />
        <p>
            <span data-i18n="[html]contact.feedback_suggestions_text"></span>
            <br />
            <strong>
                <a href="http://forum.earthscape.fr">Forum.</a>
            </strong>
        </p>
        <br />
        <h3>
            <span class="fa fa-support"></span>
            <span data-i18n="contact.need_help_title"></span>
        </h3>
        <hr />
        <p>
            <span data-i18n="[html]contact.need_help_text"></span>
            <br />
            <strong>
                <a href="http://forum.earthscape.fr">Forum.</a>
            </strong>
        </p>
        <br />
        <h3>
            <span class="fa fa-user-secret"></span>
            <span data-i18n="contact.we_recruit_title"></span>
        </h3>
        <hr />
        <p>
            <span data-i18n="[html]contact.we_recruit_text"></span>
            <br />
            <strong>
                <a href="mailto:administration@earthscape.fr">administration@earthscape.fr</a>
            </strong>
        </p>
    </div>
</div>