
@{
    ViewBag.Title = "team";
}

<div class="container text-center">
    <h3>
        <span class="fa fa-user-secret"></span>
        <span data-i18n="team.title"></span>
    </h3>
    <hr />
</div>
<div class="row">
    <div class="col-md-6">
        <div class="staff-item">
            <img class="img-responsive img-rounded staff-img center-block" src="~/images/staff/cliff.jpg">
            <div class="container-fluid text-center">
                <h3>
                    Cliff
                </h3>
                <p data-i18n="team.cliff"><p>
                <hr />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="staff-item">
            <img class="img-responsive img-rounded staff-img center-block" src="~/images/staff/no_avatar.jpg">
            <div class="container-fluid text-center">
                <h3>
                    Flynn
                </h3>
                <p data-i18n="team.flynn"><p>
                <hr />
            </div>
        </div>
    </div>
</div>