
@{
    ViewBag.Title = "Team";
}

<h4 class="text-center">
    <span class="fa fa-user-secret"></span>
    <span data-i18n="team.title"></span>
</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <div id="cliff" class="staff-item">
            <img class="img-responsive img-rounded staff-img center-block" src="~/Content/img/staff/cliff.jpg" alt="">
            <div class="text-center">
                <h3>
                    Cliff
                </h3>
                <p data-i18n="team.cliff">
                <p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="flynn" class="staff-item">
            <img class="img-responsive img-rounded staff-img center-block" src="~/Content/img/staff/flynn.jpg" alt="">
            <div class="text-center">
                <h3>
                    Flynn
                </h3>
                <p data-i18n="team.flynn">
                <p>
            </div>
        </div>
    </div>
</div>