<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>
        Earthscape - Origin : Dofus 1.29
    </title>

    <!-- Stylesheets -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/styles")

</head>
