@{
    ViewBag.Title = "Home";
}

<div class="news">
    <div class="row">
        <div class="col-md-8">
            <h2 data-i18n="home.news">
            </h2>
            <hr />
            <a class="twitter-timeline" href="https://twitter.com/earthscape101" data-widget-id="572126951629139968">Tweets de @@earthscape101</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
        </div>
        <div class="col-md-3 col-md-offset-1">

        </div>
    </div>
</div>