/* Chat */
.chat-content, .chat-users-list {
    height: 600px;    
    overflow-y: scroll;
    word-break: break-all;
    word-wrap: break-word;
}

.chat-message {
    border-bottom: 1px solid lightgray;
    margin-top: 0px;
    padding-top: 10px;
}

.chat-server-message {
    background-color: #C1022D;
    color: white;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chat-message-pseudo {
    padding-left: 5px;
    font-size: 1.1em;
}

.chat-message-content {
    padding-left: 20px;
}

.chat-message:hover {
    background-color: beige;
}

.chat-user-img {
    height: 48px;
    width: 48px;
    margin-top: 4px;
    margin-left: 4px;
}

.chat-users-list .list-group-item:nth-child(even) {
    background-color: #D1F4FF;
}