/* Chat */
.chat-content, .chat-users-list {
    height: 600px;    
    overflow-y: scroll;
    word-break: break-all;
    word-wrap: break-word;
}

.chat-user-img {
    height: 48px;
    width: 48px;
}